THIS IS THE DASHBOARD

<div class="accident-graph"><%= @accidents %></div>

<% @teams.each do |team| %>
  <%= link_to "#{team.name}", dashboard_team_path(team), class: 'btn-regular' %>
	<!-- <br> -->
  <%= link_to "Delete", dashboard_team_path(team), method: :delete , class: 'btn-outline'%>
<% end %>

<%= link_to "Create a new team", new_dashboard_team_path %>