.page-container {
  display: flex;
}

.main-content {
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.sidebar {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top: 30px;
}

.sidebar-header > *:not(:last-child) {
  margin-right: 15px;
}

.avatar-dropdown {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.dropdown-trigger {
  height: 50px;
}

.avatar-dropdown:focus {
  outline: none;
}

.avatar-dropdown img {
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--green);
}

.sidebar-content {
  flex: 1 1 auto;
  padding: 20px 40px;
}

.sidebar-content ul a {
  margin-bottom: 5px;
  display: inline-block;
}

.sidebar-content ul ul {
  padding-left: 10px;
}
