.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.button-wrapper a:first-child {
  margin-right: 20px;
}

.button-wrapper a {
  width: 130px;
  padding: 5px 10px;
}

.btn-outline {
  color: var(--pink);
  background-color: transparent;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  padding: 5px 0px;
  text-align: center;
  border: 1px solid var(--green);
}

.btn-outline:hover {
  color: var(--pink);
  background-color: transparent;
}

.btn-regular {
  color: var(--pink);
  background-color: var(--green);
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px 0;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.btn-regular:hover {
  color: var(--pink);
  background-color: var(--green);
}

.scroll-down-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down-button {
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid var(--green);
  color: var(--green);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.scroll-down-button:hover {
  color: var(--green);
}

.scroll-down-button i {
  height: 15px;
}
